<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-hcloud-index") %>>
          <a href="/docs/providers/hcloud/index.html">Hetzner Cloud Provider</a>
        </li>
        <li<%= sidebar_current("docs-hcloud-data-source") %>>
        <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-hcloud-datasource-datacenter") %>>
               <a href="/docs/providers/hcloud/d/datacenter.html">hcloud_datacenter</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-datacenters") %>>
               <a href="/docs/providers/hcloud/d/datacenters.html">hcloud_datacenters</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-floating-ip") %>>
              <a href="/docs/providers/hcloud/d/floating_ip.html">hcloud_floating_ip</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-image") %>>
               <a href="/docs/providers/hcloud/d/image.html">hcloud_image</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-location") %>>
                <a href="/docs/providers/hcloud/d/location.html">hcloud_location</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-locations") %>>
               <a href="/docs/providers/hcloud/d/locations.html">hcloud_locations</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-server") %>>
               <a href="/docs/providers/hcloud/d/server.html">hcloud_server</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-network") %>>
               <a href="/docs/providers/hcloud/d/network.html">hcloud_network</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-ssh-key") %>>
              <a href="/docs/providers/hcloud/d/ssh_key.html">hcloud_ssh_key</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-volume") %>>
              <a href="/docs/providers/hcloud/d/volume.html">hcloud_volume</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-hcloud-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-hcloud-resource-server-x") %>>
              <a href="/docs/providers/hcloud/r/server.html">hcloud_server</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-server-network") %>>
              <a href="/docs/providers/hcloud/r/server.html">hcloud_server_network</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-volume-x") %>>
              <a href="/docs/providers/hcloud/r/volume.html">hcloud_volume</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-volume-attachment") %>>
              <a href="/docs/providers/hcloud/r/volume_attachment.html">hcloud_volume_attachment</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-network-x") %>>
              <a href="/docs/providers/hcloud/r/network.html">hcloud_network</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-network-route") %>>
              <a href="/docs/providers/hcloud/r/network_route.html">hcloud_network_route</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-network-subnet") %>>
              <a href="/docs/providers/hcloud/r/network_subnet.html">hcloud_network_subnet</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-ssh-key") %>>
              <a href="/docs/providers/hcloud/r/ssh_key.html">hcloud_ssh_key</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-floating-ip-x") %>>
              <a href="/docs/providers/hcloud/r/floating_ip.html">hcloud_floating_ip</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-floating-ip-assignment") %>>
              <a href="/docs/providers/hcloud/r/floating_ip_assignment.html">hcloud_floating_ip_assignment</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-rdns") %>>
              <a href="/docs/providers/hcloud/r/rdns.html">hcloud_rdns</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
