<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-hcloud-index") %>>
          <a href="/docs/providers/hcloud/index.html">Hetzner Cloud Provider</a>
        </li>
        <li<%= sidebar_current("docs-hcloud-data-source") %>>
        <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-hcloud-datasource-certificate-x") %>>
               <a href="/docs/providers/hcloud/d/certificate.html">hcloud_certificate</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-certificate-x") %>>
              <a href="/docs/providers/hcloud/d/certificates.html">hcloud_certificates</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-datacenter") %>>
               <a href="/docs/providers/hcloud/d/datacenter.html">hcloud_datacenter</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-datacenters") %>>
               <a href="/docs/providers/hcloud/d/datacenters.html">hcloud_datacenters</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-firewall") %>>
               <a href="/docs/providers/hcloud/d/firewall.html">hcloud_firewall</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-firewalls-x") %>>
              <a href="/docs/providers/hcloud/d/firewalls.html">hcloud_firewalls</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-floating-ip") %>>
              <a href="/docs/providers/hcloud/d/floating_ip.html">hcloud_floating_ip</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-floating-ips-x") %>>
              <a href="/docs/providers/hcloud/d/floating_ips.html">hcloud_floating_ips</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-primary-ip") %>>
              <a href="/docs/providers/hcloud/d/primary_ip.html">hcloud_primary_ip</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-primary-ips-x") %>>
              <a href="/docs/providers/hcloud/d/primary_ips.html">hcloud_primary_ips</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-image") %>>
               <a href="/docs/providers/hcloud/d/image.html">hcloud_image</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-images-x") %>>
               <a href="/docs/providers/hcloud/d/images.html">hcloud_images</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-load-balancer-x") %>>
               <a href="/docs/providers/hcloud/d/load_balancer.html">hcloud_load_balancer</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-load-balancers-x") %>>
               <a href="/docs/providers/hcloud/d/load_balancers.html">hcloud_load_balancers</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-location") %>>
                <a href="/docs/providers/hcloud/d/location.html">hcloud_location</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-locations") %>>
               <a href="/docs/providers/hcloud/d/locations.html">hcloud_locations</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-network") %>>
               <a href="/docs/providers/hcloud/d/network.html">hcloud_network</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-networks-x") %>>
               <a href="/docs/providers/hcloud/d/networks.html">hcloud_networks</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-placement-group") %>>
              <a href="/docs/providers/hcloud/d/placement_group.html">hcloud_placement_group</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-placement-groups-x") %>>
              <a href="/docs/providers/hcloud/d/placement_groups.html">hcloud_placement_groups</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-server") %>>
               <a href="/docs/providers/hcloud/d/server.html">hcloud_server</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-servers-x") %>>
              <a href="/docs/providers/hcloud/d/servers.html">hcloud_servers</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-server-type") %>>
               <a href="/docs/providers/hcloud/d/server_type.html">hcloud_server_type</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-server-types") %>>
               <a href="/docs/providers/hcloud/d/server_types.html">hcloud_server_types</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-ssh-key") %>>
              <a href="/docs/providers/hcloud/d/ssh_key.html">hcloud_ssh_key</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-ssh-keys") %>>
               <a href="/docs/providers/hcloud/d/ssh_keys.html">hcloud_ssh_keys</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-volume") %>>
              <a href="/docs/providers/hcloud/d/volume.html">hcloud_volume</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-datasource-volumes-x") %>>
              <a href="/docs/providers/hcloud/d/volumes.html">hcloud_volumes</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-hcloud-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-hcloud-resource-certificate-x") %>>
               <a href="/docs/providers/hcloud/r/certificate.html">hcloud_certificate</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-firewall") %>>
              <a href="/docs/providers/hcloud/r/firewall.html">hcloud_firewall</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-floating-ip-x") %>>
              <a href="/docs/providers/hcloud/r/floating_ip.html">hcloud_floating_ip</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-floating-ip-assignment") %>>
              <a href="/docs/providers/hcloud/r/floating_ip_assignment.html">hcloud_floating_ip_assignment</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-primary-ip-x") %>>
              <a href="/docs/providers/hcloud/r/primary_ip.html">hcloud_primary_ip</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-load-balancer-x") %>>
              <a href="/docs/providers/hcloud/r/load_balancer.html">hcloud_load_balancer</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-load-balancer-service-x") %>>
              <a href="/docs/providers/hcloud/r/load_balancer_service.html">hcloud_load_balancer_service</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-load-balancer-network-x") %>>
              <a href="/docs/providers/hcloud/r/load_balancer_network.html">hcloud_load_balancer_network</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-network-x") %>>
              <a href="/docs/providers/hcloud/r/network.html">hcloud_network</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-network-route") %>>
              <a href="/docs/providers/hcloud/r/network_route.html">hcloud_network_route</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-network-subnet") %>>
              <a href="/docs/providers/hcloud/r/network_subnet.html">hcloud_network_subnet</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-server-x") %>>
              <a href="/docs/providers/hcloud/r/server.html">hcloud_server</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-server-network") %>>
              <a href="/docs/providers/hcloud/r/server_network.html">hcloud_server_network</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-snapshot") %>>
              <a href="/docs/providers/hcloud/r/snapshot.html">hcloud_snapshot</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-volume-x") %>>
              <a href="/docs/providers/hcloud/r/volume.html">hcloud_volume</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-volume-attachment") %>>
              <a href="/docs/providers/hcloud/r/volume_attachment.html">hcloud_volume_attachment</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-ssh-key") %>>
              <a href="/docs/providers/hcloud/r/ssh_key.html">hcloud_ssh_key</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-resource-rdns") %>>
              <a href="/docs/providers/hcloud/r/rdns.html">hcloud_rdns</a>
            </li>
            <li<%= sidebar_current("docs-hcloud-placement-group") %>>
              <a href="/docs/providers/hcloud/r/placement_group.html">hcloud_placement_group</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
